.equation {
    display:inline-block;
    font-family: 'Josefin Sans', sans;
    font-size: calc(88px + 72 * (100vw - 800px) / 800); /* taken from a blog post + checked by eye */
    line-height: 1em;
    letter-spacing: -0.02em;
    margin: 0.5em;
}

@media screen and (min-width: 1400px) { 
    /* Max font size for wide screens*/
    .equation {
        font-size: 150px;
    }
}

.equation .lastNumber {
    margin-left: 1em;
    display: block;
    text-align: right;
}
.equation .number {
    display: block;
    text-align: right;
}
.equation .answer {
    display: block;
    text-align: right;
    letter-spacing: 0.04em;
}

.equation .operand {
    float: left;
    color: var(--ifm-color-primary);
}

.equation .equals {
    display: block;
    height: 0;
    border-bottom: solid 0.03em var(--ifm-color-primary);
    overflow: hidden;
    margin-top: 0.25em;
    margin-bottom: 0.4em;
}